# PR3-이영표

In [5]:
a=[1,2,3]

In [7]:
b=(1,2,3)

In [8]:
a[0]=2

In [9]:
b[0]=1

TypeError: 'tuple' object does not support item assignment

In [11]:
print(b[1:])

(2, 3)

In [16]:
dic={'a':10, 'b':20, 'c':30}
dic

{'a': 10, 'b': 20, 'c': 30}

In [17]:
print(dic['a'])

10

In [18]:
dic['d']=40
dic

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [20]:
dic['a']=30
dic

{'a': 30, 'b': 20, 'c': 30, 'd': 40}

In [21]:
dic['e']=[1,2]
dic

{'a': 30, 'b': 20, 'c': 30, 'd': 40, 'e': [1, 2]}

In [22]:
k={(1,2):'hi'}

In [24]:
a = ['yes', 'no' , 'no','yes', 'no' , 'no','yes', 'no' , 'no','yes', 'no' , 'no']
d = {'yes':1, 'no':0}
new_a=[d[key] for key in a] #list comprehension
print(new_a)

[1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]

In [25]:
del dic['a']

In [26]:
print(dic)

{'b': 20, 'c': 30, 'd': 40, 'e': [1, 2]}

In [27]:
dic.keys()

dict_keys(['b', 'c', 'd', 'e'])

In [28]:
dic.values()

dict_values([20, 30, 40, [1, 2]])

In [29]:
dic.items()

dict_items([('b', 20), ('c', 30), ('d', 40), ('e', [1, 2])])

In [30]:
dic

{'b': 20, 'c': 30, 'd': 40, 'e': [1, 2]}

In [31]:
c=[1,2,3,4,5,32,4,2,5,2,5,7,8,1,3,4]
d=set(c)
d

{1, 2, 3, 4, 5, 7, 8, 32}

In [32]:
a=4
print(a>=5)

False

In [33]:
if a>=5:
    print(a)

In [34]:
while a==4:
    a=a+1
    print(a)

5

In [35]:
while a<10:
    a=a+1
    print(a)

6
7
8
9
10

In [37]:
a=[1,2,3,4]
while a:
    print(a)
    a.pop()

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

In [38]:
money=True
if money:
    print("택시를 탄다")
else:
    print("걸어간다")

택시를 탄다

In [40]:
money=False
if money:
    print("택시를 탄다")
    print("택시를 타지않는다")

In [41]:
money=False
if money:
print("택시를 탄다")
    print("택시를 타지않는다")

IndentationError: expected an indented block (Temp/ipykernel_12024/2307275788.py, line 3)

In [44]:
money=2000
card=1
if money>=3000 and card:
    print("택시")
else:
    print("걷기")

걷기

In [45]:
pocket=['paper','cellphone', 'money']
if 'money'in pocket:
    print("택시")
    pass
else:
    print("걷기")

택시

In [46]:
pocket=['paper','cellphone', 'money']
if 'money'in pocket:
    print("택시")
else:
    print("걷기")

택시

In [47]:
pocket=['paper','cellphone']
card=True
if 'money' in pocket:
    print("택시")
elif card:
    print("card")
else:
    print("걷기")

card

In [48]:
pocket=['paper','cellphone']
card=True
if 'money' in pocket:
    print("택시")
if card:
    print("card")
else:
    print("걷기")

card

In [49]:
score=85
if score>80:
    print('A')
elif score>70:
    print('B')
else:
    print('F')

A

In [51]:
score=85
if score>70:
    print('B')
elif score>80:
    print('A')
else:
    print('F')

B

In [52]:
score=85
if score>70:
    print('B')
if score>80:
    print('A')
else:
    print('F')

B
A

In [54]:
score=85
if score>70 and score<=80:
    print('B')
elif score>80:
    print('A')
else:
    print('F')

A

In [55]:
score=85
if score>70:
    print('B')
elif score>80:
    print('A')
else:
    print('F')

B

In [58]:
t=0
while t<10:
    print("나무를 %d찍습니다"%(t+1))
    t=t+1
    if t==5:
        break

나무를 1찍습니다
나무를 2찍습니다
나무를 3찍습니다
나무를 4찍습니다
나무를 5찍습니다

In [59]:
a=[1,2,3]
for i in a:
    print(i)

1
2
3

In [60]:
a=[(1,2),(3,4), (5,6)]
for (i,j) in a:
    print(i+j)

3
7
11

In [62]:
score = [100,80,50,70,59]
n=0
for i in score:
    if i>=60:
        print("%d번 학생은 합격입니다"%n)
    else:
        print("%d번 학생은 불합격입니다"%n)
    n=n+1

0번 학생은 합격입니다
1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다

In [64]:
score = [100,80,50,70,59]
n=0
for i in score:
    n=n+1
    if i<60: continue
    print("%d번 학생은 합격입니다"%n)

1번 학생은 합격입니다
2번 학생은 합격입니다
4번 학생은 합격입니다

In [84]:
for i in range(len(score)):
    if score [i]<60: continue
        print("%d학생은 불합격입니다"%i)

IndentationError: unexpected indent (Temp/ipykernel_12024/852578292.py, line 3)

In [66]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [67]:
range(0,10)

range(0, 10)

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [70]:
sum=0
for i in range(1,11):
    sum=sum+i print(sum)

SyntaxError: invalid syntax (Temp/ipykernel_12024/4241582919.py, line 3)

In [72]:
sum=0
for i in range(10,101):
    sum=sum+i
print(sum)

5005

In [73]:
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

In [75]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [78]:
for i in range(2,10):
    print(i)
for j in range(1,10):
    print(j)

2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [81]:
for i in range(2,10):
    if i%2: continue 
    for j in range(1,10):
        print("%dx%d=%d"%(i,j,i*j))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [82]:
for i in range(2,10):
    if i%2: continue 
    for j in range(1,10):
        print("%dx%d=%d"%(i,j,i*j))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72